{% extends "blog/user_profile.html" %}

{% block title %}
	Edit profile - {{ user.username }}
{% endblock %}

{% block userbutton %}
	<form action="https://www.gravatar.com/" method='get'>
		{{ form.hidden_tag() }}
		<button type="submit">Change Pic</button>
	</form>
{% endblock %}

{% block userinfo %}
	<form method="post">
		{{ form.hidden_tag() }}
		<p>
			{{ form.username.label }}<br>
			{{ form.username(size=32) }}<br>
			{% for error in form.username.errors %}
				<span class="error">[{{error}}]</span>
			{% endfor %}
		</p>
		<p>
			{{ form.email.label }}<br>
			{{ form.email(size=32) }}<br>
			{% for error in form.email.errors %}
				<span class="error">[{{error}}]</span>
			{% endfor %}
		</p>
		<p>{{ form.submit() }}</p>
	</form>
{% endblock %}

{% block content %}{% endblock %}