{% extends 'base.html' %}

{% block header %}{% endblock %}

{% block content %}
	<div class="wrapperpadding">
		<article class="post_list">
			<header class="header_button_grid">
				<div>
					<h1>{% block title%}Posts{% endblock %}</h1>
				</div>
				{% if not current_user.is_anonymous %}
					<div class="button">
						<form action="{{ url_for('post.create_post') }}"><button type="submit">New</button></form>
					</div>
					{% endif %}
			</header>
			<hr>
			<ul>
				{% for post in posts %}
					<li>
						{% if loop.index%2==0 %}
							<div class="post post_snippet dark">
								{% include "blog/snippet_post.html"%}
							</div>
						{% else %}
							<div class="post post_snippet">
								{% include "blog/snippet_post.html"%}
							</div>
						{% endif %}
						{% if not loop.last %}
							<hr>
						{% endif %}
					</li>
				{% endfor %}
			<ul>
		</article>
	</div>
{% endblock %}
