<div class="comment_thumbnail">
	<img src="{{ comment.author.avatar(50) }}">
	<div class="comment_edit_button">
		{% if current_user == comment.author %}
			<form action="{{ url_for('comment.edit_comment', comment_id=comment.id) }}"><button type="submit">Edit</button></form>
		{% endif %}
	</div>
</div>
<div class="comment_main">
	<p class="comment_header">
		<a href="{{ url_for('user_profile.user_profile', user_id=comment.author.id) }}">
			{% if comment.author.username == post.author.username %}
				<span class="label label-danger">{{ comment.author.username }}</span>
			{% else %}
				<span class="label label-primary">{{ comment.author.username }}</span>
			{% endif %}
		</a>
		<span class="about">said on {{ comment.created_timestamp.strftime('%d-%m-%Y') }}</span>
	</p>
	<div class="comment_body">{{ comment.body | safe }}</div>
</div>
