{% extends 'base.html' %}

{% block header %}{% endblock %}

{% block content %}
	<div class="wrapperpadding">
		<article class="post_article">
			<header>
				<h1>{% block title%}{{ post.title }}{% endblock %}</h1>
			</header>
			<div class="post">
				<div class="post_thumbnail">
					<img src="{{ post.author.avatar(80) }}">
					<div class="post_edit_button">
						{% if current_user == post.author %}
							<form action="{{ url_for('blog.update', post_id=post.id) }}"><button type="submit">Edit Post</button></form>
						{% endif %}
					</div>
				</div>
				<div class="post_main">
					<p class="post_header">
						<a href="{{ url_for('blog.user', user_id=post.author.id) }}">
							<span class="label label-danger">{{ post.author.username }}</span>
						</a>
						<span class="about">posted on {{ post.created_timestamp.strftime('%d-%m-%Y') }}</span>
					</p>
					<div class="post_body">{{ post.body | safe }}</div>
				</div>
			</div>
		</article>
	</div>
	<hr class="post_comment_sep">
	<div class="wrapperpadding">
		<article class="comment_list">
			{% block add_comment %}
				<header class="header_button_grid">
					<div>
						<h1>Comments</h1>
					</div>
					<div class="button">
							<form action="{{ url_for('blog.comment', post_id=post.id) }}"><button type="submit">New</button></form>
					</div>
				</header>
			{% endblock %}
			<hr>
			<ul>
				{% for comment in comments %}
					<li>
						{% if loop.index%2==0 %}
							<div class="comment" id="comment_{{ comment.id }}">
								{% include "blog/show_comment.html" %}
							</div>
						{% else %}
							<div class="comment dark" id="comment_{{ comment.id }}">
								{% include "blog/show_comment.html" %}
							</div>
						{% endif %}
					</li>
				{% endfor %}
			</ul>
		</article>
	</div>
{% endblock %}
