{% extends 'base.html' %}

{% block header %}{% endblock %}

{% block content %}
<div class="wrapperpadding">
	<article class="post">
		<header>
			<table>
				<tr valign="top">
					<td><img src="{{ post.author.avatar(60) }}"></td>
					<td>
						<div>
							<h1>{% block title%}{{ post.title }}{% endblock %}</h1>
							<div class="about">by <a href="{{ url_for('blog.user', username=post.author.username) }}">{{ post.author.username }}</a> on {{post.timestamp.strftime('%d-%m-%Y %H:%M')}}</div>
						</div>
						{% if current_user == post.author %}
							<form action="{{ url_for('blog.update', post_id=post.id) }}"><button type="submit">Edit Post</button></form>
						{% endif %}
					</td>
				</tr>
			</table>
		</header>
		<p class="body">{{ post.body | safe }}</p>
	</article>
	</div>
	<hr class="comment_sep">
	<div class="wrapperpadding">
	<article class="Comments">
		<header>
			<h1>Comments</h1>
			<div>
				{% block add_comment %}
					<form action="{{ url_for('blog.comment', post_id=post.id) }}"><button type="submit">Add a comment</button></form>
				{% endblock %}
			</div>
		</header>
		<hr>
		{% for comment in comments %}
			{% include "blog/_comment.html" %}	
			{% if not loop.last %}
				<hr>
			{% endif %}
		{% endfor %}
	</article>
	</div>
{% endblock %}
