{% extends "base.html" %}

{% block header %}
	<header id='userpage_header'>
		<div class="user">
			<div class="user_thumbnail">
				<img src="{{ user.avatar(128) }}">
				{% if current_user.id == user.id %}
					<form action="{{ url_for('user_profile.edit_user_profile', user_id=user.id) }}"><button type="submit">Edit Profile</button></form>
				{% endif %}
			</div>
			<div class="user_info">
				<h1>{% block title %}{{ user.username }}{% endblock %}</h1>
				<!-- {% if user.about_me %}
					<p><b>About me:</b> {{user.about_me}}</p>
				{% endif %} -->
				{% if user.email %}
					<p><b>Email:</b> {{user.email}}</p>
				{% endif %}
				{% if user.created %}
					<p><b>Created:</b> {{user.created.strftime('%d-%m-%Y %H:%M')}}</p>
				{% endif %}
				{% if user.last_seen %}
					<p><b>Last seen on:</b> {{user.last_seen.strftime('%d-%m-%Y %H:%M')}}</p>
				{% endif %}
			</div>
		</div>
	</header>
{% endblock %}

{% block content %}
	<body>
		<div class="wrapperpadding">
			<div class="tab">
				<button class="tablinks" onclick="activateTab(event, 'user_post_list')" id="PostButton">Posts</a>
				<button class="tablinks" onclick="activateTab(event, 'user_comment_list')">Comments</a>
				<button class="tablinks" onclick="activateTab(event, 'user_private_list')">Privates</a>
			</div>
			<div>
				<div id="user_post_list" class="tabcontent">
					<div class="post_list">
						<ul>
							{% for post in posts %}
								{% if not post.private %}
									<li>
										{% if loop.index%2==0 %}
											<div class="post post_snippet dark">
												{% include "blog/snippet_post.html"%}
											</div>
										{% else %}
											<div class="post post_snippet">
												{% include "blog/snippet_post.html"%}
											</div>
										{% endif %}
										{% if not loop.last %}
											<hr>
										{% endif %}
									</li>
								{% endif %}
							{% endfor %}
						<ul>
					</div>
				</div>
				<div id="user_comment_list" class="tabcontent">
					<div class="comment_list">
						<ul>
							{% for comment in comments %}
								<li>
									{% if loop.index%2==0 %}
										<div class="comment">
									{% else %}
										<div class="comment dark">
									{% endif %}
											<h3>
												<a href="{{ url_for('post.show_post', post_id=comment.original_post.id) }}">Go to post</a>
											</h3>
											{% include "blog/snippet_comment.html" %}
										</div>
								</li>
							{% endfor %}
						</ul>
					</div>
				</div>
				<div id="user_private_list" class="tabcontent">
					<div class="post_list">
						<ul>
							{% for post in posts %}
								{% if post.private %}
									<li>
										{% if loop.index%2==0 %}
											<div class="post post_snippet dark">
												{% include "blog/snippet_post.html"%}
											</div>
										{% else %}
											<div class="post post_snippet">
												{% include "blog/snippet_post.html"%}
											</div>
										{% endif %}
										{% if not loop.last %}
											<hr>
										{% endif %}
									</li>
								{% endif %}
							{% endfor %}
						<ul>
					</div>
				</div>
			</div>
			<script type="text/javascript">
				function activateTab(evt, pageId) {
					var i, tabcontent, tablinks;
					tabcontent = document.getElementsByClassName("tabcontent");
					for (i = 0; i < tabcontent.length; i++) {
						tabcontent[i].style.display = "none";
					}

					tablinks = document.getElementsByClassName("tablinks");
					for (i = 0; i < tablinks.length; i++) {
						tablinks[i].className = tablinks[i].className.replace(" active", "");
					}

					document.getElementById(pageId).style.display = "block";
					evt.currentTarget.className += " active";
				}

				document.getElementById("PostButton").click()
			</script>
		</div>
	</body>
{% endblock %}
