/* Article */
.post_article > header {
	display: flex;
	align-items: last baseline;
	border-bottom: 1px solid lightgray;
}

.post_article > header > div:first-of-type {
	flex: auto;
}

.post_article > header h1 {
	font-size: 1.8em;
	margin-bottom: 0;
}

/* Post */
.post {
	display: flex;
	align-items: flex-start;
	margin: 0.5em 0;
	padding: 0.5em;
}

.post a {
	text-decoration: none;
}

.post_main {
	display: block;
	width: 100%;
	height: 100%;
	padding: 0 0.6em;
}

.post_header {
	margin-top: 0;
	font-size: 1.1em;
}

.post_thumbnail {
	align-items: center;
}

.post_body > p {
	white-space: pre-line;
	word-wrap: anywhere;
}

.post_body h1 {
	font-size: 1.55em;
}

.post_body h2 {
	font-size: 1.35em;
}

.post_body h3 {
	font-size: 1.15em;
}

.post_snippet {
	border-bottom: 0;
}

hr.post_comment_sep {
	color: #eee;
	border: 8px solid;
}